{
   :humanname "freenode"
   :ip        "verne.freenode.net"
   :port      6667
   :channels  ["#clojbot" "#clojbot2"]
   :name      "Clojure Bot"
   :nick      "clojbot"
   :altnicks  ["clojbot_" "clojbot__" "clojbot___"]
   }

