[
 {
  :humanname "freenode"
  :ip        "verne.freenode.net"
  :port      6667
  :channels  ["#clojbot" "#clojbot2"]
  :name      "Clojure Bot"
  :nick      "UwZus"
  :altnicks  ["UwZus_" "UwZus__" "UwZus___"]
  }
 {  :humanname "kreynet"
  :ip        "irssi.be.krey.net"
  :port      6667
  :channels  ["#infogroep"]
  :name      "Clojure Bot"
  :nick      "Clojbot"
  :altnicks  ["Clojbot_" "Clojbot__" "Clojbot___"]
  }
 ]
