[
 {
  :humanname :freenode
  :ip        "verne.freenode.net"
  :port      6667
  :channels  ["#clojbot"]
  :name      "Clojure Bot"
  :nick      "MyClojbot"
  :altnicks  ["MyClojbot_" "MyClojbot__"]
  }
 ]
